{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^@contexts/(.*)$",
    "^@providers/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "./src/main.css"
}
