---
import { getCollection } from "astro:content";

import Root from "../../layouts/Root.astro";
import ListComponent from "../../components/demo/List";

const products = await getCollection("products");
---

<Root subtitle="List Demo">
  <main class="mx-auto min-h-screen max-w-xl overflow-x-hidden">
    <div class="overflow-y-hidden p-4">
      <ListComponent
        client:only
        products={products.map((product) => ({
          id: product.id,
          ...product.data,
        }))}
      />
    </div>
  </main>
</Root>
