---
import { getCollection } from "astro:content";
import Root from "../layouts/Root.astro";
import SmartSuffixListItem from "../components/SmartSuffixListItem";

const products = await getCollection("products");
---

<Root>
  <main class="mx-auto grid min-h-screen max-w-xl place-items-center p-4">
    <ul class="w-full">
      <SmartSuffixListItem
        client:only
        id="demo-item"
        products={products.map((product) => ({
          variants: product.data.variants,
          emoji: product.data.emoji,
        }))}
      />
    </ul>
  </main>
</Root>
