---
import Root from "../layouts/Root.astro";
---

<Root subtitle="Work in Progress">
  <main
    class="prose mx-auto flex min-h-screen flex-col items-center justify-center"
  >
    <section class="max-w-2xs text-center">
      <h1 class="m-0">Spuddy 🥔</h1>
      <p class="mb-0">
        follow the journey in on <a href="https://psimk.dev/tags/spuddy/"
          >psimk.dev</a
        >,
        <br />
        checkout some of the demos:
      </p>
      <div class="grid place-items-center">
        <ul class="!m-0 text-left">
          <li>
            <a href="/list-demo">List Demo</a>
          </li>
          <li>
            <a href="/sectioned-list-demo">Sectioned List Demo</a>
          </li>
          <li>
            <a href="/emoji-suffix-demo">Automated Emoji Suffix Demo</a>
          </li>
          <li>
            <a href="/navigation-demo">Navigation Demo</a>
          </li>
        </ul>
      </div>
      <p class="!m-0">
        or clone the code on Github: <a href="https://github.com/psimk/spuddy"
          >psimk/spuddy</a
        >
      </p>
    </section>
  </main>
</Root>
