---
import Root from "../layouts/Root.astro";
---

<Root>
  <main class="prose grid min-h-screen place-items-center">
    <div class="text-center">
      <h1>Spuddy 🥔 is being built</h1>
      <p>
        follow the journey in on <a href="https://psimk.dev/tags/spuddy/"
          >psimk.dev</a
        >
      </p>
    </div>
  </main>
</Root>
