---
import { getCollection } from "astro:content";

import Root from "../layouts/Root.astro";
import List from "../components/List";
import SortableListItem from "../components/SortableListItem";

const products = await getCollection("productsWithEmojis");
---

<Root>
  <main class="mx-auto min-h-screen max-w-xl">
    <div class="p-4">
      <List
        client:only
        products={products.map((product) => ({
          id: product.id,
          ...product.data,
        }))}
      />
    </div>
  </main>
</Root>
