---
import { getCollection } from 'astro:content';
import {  Grip } from '@lucide/astro';

import ListItem from "../components/ListItem.astro";
import Root from "../layouts/Root.astro";

const products = await getCollection('productsWithEmojis');
---

<Root>
  <main class="min-h-screen max-w-xl mx-auto">
    <div class="p-4">
      <ul class="flex flex-col gap-3">
        {
          products.map(product => (
            <ListItem 
              id={product.id}
              value={product.data.variants.en[0]}
              prefix={product.data.emoji}
             >
              <Grip slot="suffix"/>
            </ListItem>
          ))
        }
      </ul>
    </div>
  </main>
</Root>
