---
import { getCollection } from "astro:content";

import Root from "../layouts/Root.astro";
import List from "../components/List";

const products = await getCollection("products");
---

<Root>
  <main class="mx-auto min-h-screen max-w-xl overflow-x-hidden">
    <div class="overflow-y-hidden p-4">
      <List
        client:only
        products={products.map((product) => ({
          id: product.id,
          ...product.data,
        }))}
      />
    </div>
  </main>
</Root>
