---
import { getCollection } from "astro:content";

import ListItem from "../components/ListItem";
import Root from "../layouts/Root.astro";

const products = await getCollection("productsWithEmojis");
---

<Root>
  <main class="mx-auto min-h-screen max-w-xl">
    <div class="p-4">
      <ul class="flex flex-col gap-3">
        {
          products.map((product) => (
            <ListItem
              id={product.id}
              defaultValue={product.data.variants.en[0]}
              prefix={product.data.emoji}
            />
          ))
        }
      </ul>
    </div>
  </main>
</Root>
