---
import { getCollection } from "astro:content";

import Root from "../layouts/Root.astro";
import Navigation from "../components/Navigation";

const posts = await getCollection("posts");
---

<Root subtitle="Navigation Demo">
  <main class="flex min-h-screen">
    <Navigation
      client:only
      posts={posts.map((post) => ({
        id: post.id,
        content: post.rendered?.html,
      }))}
    />
  </main>
</Root>
