---
import { Font } from "astro:assets";
---

<head>
  <meta charset="utf-8" />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <Font cssVariable="--font-geist" preload />
  <title>Spuddy</title>
  <script
    is:inline
    type="text/partytown"
    crossorigin="anonymous"
    data-website-id="9f8b2324-311c-429a-b572-7443e6921e18"
    src="https://cloud.umami.is/script.js"
    data-cache="true"></script>
</head>
