---
import Root from "@layouts/Root.astro";
import AppComponent from "@app/App";

export const prerender = false;
---

<Root subtitle="App">
  <main class="flex min-h-screen">
    <AppComponent client:only />
  </main>
</Root>
