---
import Head from "../components/Head.astro";

import "../styles/global.css";

interface Props {
  subtitle?: string;
}
---

<html lang="en">
  <Head {...Astro.props} />
  <body>
    <slot />
  </body>
</html>
